@import "../../../node_modules/bootstrap/scss/bootstrap.scss"; //Import Bootstrap CSS
@import "./font.scss";
@import "./bootstrap-override.scss";
@import "./animations.scss";

:root {
  --black: #000;
  --white: #fff;
  --primary-color: #1982c4;
  --secondary-color: #6a4c93;
  --third-color: #8ac926;
  --fourth-color: #ffca3a;
  --fifth-color: #ff595e;

  --font-regular: "Lato Regular";
  --font-light: "Lato Light";

  --h1-size: 2.5rem;
  --h2-size: 1.7rem;
  --paragraph-size: 1rem;
}
body{
  font-family: var(--font-regular);
}
